@page "/accordions"
@inject ITheme Theme

<PageTitle>Accordions</PageTitle>

<div class="leading-relaxed @TwColors.Text_Slate_600">
    <h1 class="text-2xl font-bold @TwColors.Text_Slate_900">Accordions</h1>

    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900">What's so special?</h3>

    <p class="my-2 font-medium">
        The accordions come animated and are highly customizable. You can place a <b>RenderFragment</b> in both the <b>Header</b> and <b>Body</b> of an <b>AccordionItem</b>.
        If you want to show them as all open on page load, you can easily do that with a the <b>AllOpen</b> parameter. 
        Also if you would like the items that are not currently being viewed to auto collapse when they are not longer the focus,
        you can do that by setting the <b>AutoCollapse</b> to true (or leaving off that parameter since it is the default behavior).
    </p>

    <div class="mb-2 max-w-lg mx-auto @Theme.Dark.ToString()">

        <AccordionContext AutoCollapse="false" AllOpen="false">
            <AccordionItem>
                <Header>
                    <b>Test 1</b>
                </Header>
                <Body>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </Body>
            </AccordionItem>
            <AccordionItem>
                <Header>
                    <b>Test 2</b>
                </Header>
                <Body>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </Body>
            </AccordionItem>
            <AccordionItem>
                <Header>
                    <b>Test 3</b>
                </Header>
                <Body>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </Body>
            </AccordionItem>
        </AccordionContext>

    </div>

    <CodeBlock Title=".razor" Code="@defaultExample" />
</div>


@code {
    private string defaultExample = @"<AccordionContext AutoCollapse=""false"" AllOpen=""false"">
    <AccordionItem>
        <Header>
            <b>Test 1</b>
        </Header>
        <Body>
            Lorem ipsum ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>
            <b>Test 2</b>
        </Header>
        <Body>
            Lorem ipsum ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>
            <b>Test 3</b>
        </Header>
        <Body>
            Lorem ipsum ...
        </Body>
    </AccordionItem>
</AccordionContext>";
}
