@page "/"
@inject ITheme Theme

<PageTitle>Blatomic</PageTitle>

<div class="leading-relaxed @TwColors.Text_Slate_600">
    
    <p class="my-2 p-4 bg-yellow-400 text-black rounded font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        Warning: This project is in it's early stages and may change daily. 
    </p>

    <h1 class="text-2xl font-bold @TwColors.Text_Slate_900">Blat@(Blatomic.Fragments.BlatomicIcon.BaseIcon(new Fragments.BlatomicIcon.IconColors() { classes = "h-5 w-5 inline"}))mic - An atomic blazor component library built with tailwind css</h1>

    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900">What is Blatomic?</h3>

    <p class="mt-2 font-medium">Blatomic is an open-source blazor component library that uses configurable themed tailwind styling. With components that range from simple components like buttons all the way to more advanced components like drag and drop or steppers.</p>

    <h3 class="text-xl font-bold mt-12 @TwColors.Text_Slate_900">Getting Started</h3>
    <ol class="list-decimal ml-8 space-y-4 mt-2">
        <li>
            <p>First you will need to add the <a class="@TwColors.Text_Blue_900 hover:underline" href="https://www.nuget.org/packages/Blatomic/">Blatomic Nuget Package</a> to you blazor project.</p>
        </li>
        <li>
            <p>Next you will need to add the blatomic styles. This will need to be the final style sheet in your header. There are two different style sheets provided depending on if you are already using tailwind.</p>
            <p class="mt-6">If you <b>are using tailwind</b>, use the <b>tw.min.css</b></p>
            <CodeBlock Title="MainLayout.razor OR _Layout.cshtml" Code="@twStyle" />
            <p class="mt-6">If you <b>are not using tailwind</b>, use the <b>standard.min.css</b></p>
            <CodeBlock Title="MainLayout.razor OR _Layout.cshtml" Code="@standardStyle" />
        </li>
        <li>
            <p>Then you will need to register the blatomic services in your <b>Program.cs</b> file</p>
            <CodeBlock Title="Program.cs" Code="builder.Services.AddBlatomic();" />
        </li>
        <li>
            <p>That's it, you are off to the races!</p>
        </li>
    </ol>

    <h3 class="text-xl font-bold mt-12 @TwColors.Text_Slate_900">Adding Common Namespaces <b>(Optional)</b></h3>
    <p class="mt-2">If you want, you can add all of the blatomic namespaces in your _Imports.razor files</p>
    <CodeBlock Title="_Imports.razor" Code="@usings" />

</div>

@code {
    private string twStyle = @"<link href=""_content/Blatomic/css/tw.min.css"" rel=""stylesheet""/>";
    private string standardStyle = @"<link href=""_content/Blatomic/css/standard.min.css"" rel=""stylesheet""/>";

    private string usings = @"@using Blatomic.Effects
@using Blatomic.Services.ColorScheme
@using Blatomic.Components.Buttons
@using Blatomic.Components.Notification
@using Blatomic.Components.Steppers
@using Blatomic.Components.Drag
@using Blatomic.Components.Modals
@using Blatomic.Components.Progress
@using Blatomic.Components.Guides";
}