@page "/"

<PageTitle>Blatomic</PageTitle>

<div class="flex flex-col leading-relaxed">
    <h1 class="text-2xl font-bold">Blatomic - An atomic blazor component library built with tailwind css</h1>


    <h3 class="text-xl font-bold mt-6">What is Blatomic?</h3>

    <p class="mt-2 font-medium">Blatomic is an open-source blazor component library that uses configurable themed tailwind styling. With components that range from simple components like buttons all the way to more advanced components like drag and drop or steppers.</p>

    <h3 class="text-xl font-bold mt-6">Getting Started</h3>
    <ol class="list-decimal ml-8 space-y-1 mt-2">
        <li>
            <p>First you will need to add the <a class="@TwColors.Text_Blue_700 hover:underline" href="https://www.nuget.org/packages/Blatomic/">Blatomic Nuget Package</a> to you blazor project.</p>
        </li>
        <li>
            <p>Next you will need to add the blatomic styles. This will need to be the final style sheet in your header. There are two different style sheets provided depending on if you are already using tailwind.</p>
            <p class="mt-2">If you <b>are using tailwind</b>, use the <b>tw.min.css</b></p>
            <div class="@TwColors.Bg_Slate_800 @TwColors.Text_Blue_200 rounded-lg p-2 mt-0.5 mb-2"> 
                @("<link href=\"_content/Blatomic/css/tw.min.css\" rel=\"stylesheet\"/>") 
            </div>
            <p>If you <b>are not using tailwind</b>, use the <b>standard.min.css</b></p>
            <div class="@TwColors.Bg_Slate_800 @TwColors.Text_Blue_200 rounded-lg p-2 mt-0.5 mb-2">
                @("<link href=\"_content/Blatomic/css/standard.min.css\" rel=\"stylesheet\"/>") 
            </div>
        </li>
        <li>
            <p>Then you will need to register the blatomic services in your <b>Program.cs</b> file</p>
            <div class="@TwColors.Bg_Slate_800 @TwColors.Text_Blue_200 rounded-lg p-2 mt-0.5 mb-2">
                <p>builder.Services.AddBlatomic();</p>
            </div>
        </li>
        <li>
             <p>That's it, you are off to the races!</p>
        </li>
    </ol>

    
    <h3 class="text-xl font-bold mt-6">Adding Common Namespaces <b>(Optional)</b></h3>
    <p class="mt-2">If you want, you can add all of the blatomic namespaces in your _Imports.razor files</p>
    <div class="@TwColors.Bg_Slate_800 @TwColors.Text_Blue_200 rounded-lg p-2 mt-0.5 mb-2">
        <div>@("@using Blatomic.Effects")</div>
        <div>@("@using Blatomic.Services.ColorScheme")</div>
        <div>@("@using Blatomic.Components.Buttons")</div>
        <div>@("@using Blatomic.Components.Notification")</div>
        <div>@("@using Blatomic.Components.Steppers")</div>
        <div>@("@using Blatomic.Components.Drag")</div>
        <div>@("@using Blatomic.Components.Modals")</div>
        <div>@("@using Blatomic.Components.Progress")</div>
        <div>@("@using Blatomic.Components.Guides")</div>
    </div>
</div>