@page "/selects"
@inject ITheme Theme

<PageTitle>Selects</PageTitle>

<div class="leading-relaxed @TwColors.Text_Slate_600">
    <h1 class="text-2xl font-bold @TwColors.Text_Slate_900">Selects</h1>

    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900">What's so special?</h3>

    <p class="my-2 font-medium">
        UNDER CONSTRUCTION
    </p>

    <div class="mb-2 rounded bg-gray-200">

        <Select TData="int?" Items="@numbers">
            <PlaceHolderTemplate>
                <p class="p-4">This is a test</p>
            </PlaceHolderTemplate>
            <OptionTemplate Context="Item">
                <p class="p-4">The number that I am showing you is @Item</p>
            </OptionTemplate>
        </Select>

    </div>

    <CodeBlock Title=".razor" Code="@defaultExample" />
</div>


@code {
    private string defaultExample = @"<AccordionContext AutoCollapse=""false"" AllOpen=""false"">
    <AccordionItem>
    <Header>
        <b>Test 1</b>
    </Header>
    <Body>
        Lorem ipsum ...
    </Body>
    </AccordionItem>
    <AccordionItem>
    <Header>
        <b>Test 2</b>
    </Header>
    <Body>
        Lorem ipsum ...
    </Body>
    </AccordionItem>
    <AccordionItem>
    <Header>
        <b>Test 3</b>
    </Header>
    <Body>
        Lorem ipsum ...
    </Body>
    </AccordionItem>
</AccordionContext>";

    private int?[] numbers = new int?[] { 1, 2, 3, 4, 5 };
}
