@page "/themes"
@inject ITheme Theme
@inject ThemeService ThemeService
@inject NavigationManager Nav

<PageTitle>Themes</PageTitle>

<div class="leading-relaxed @TwColors.Text_Slate_600">
    <h1 class="text-2xl font-bold @TwColors.Text_Slate_900">Themes</h1>


    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900">What are themes?</h3>

    <p class="mt-2 font-medium">
        Themes are custom color palettes that can be overriden or extended to meet your custom needs.
        By default, each theme provided by the framework is capable of both dark and light modes
    </p>

    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900 mt-12">Getting Started</h3>

    <p class="mt-2">
        By default, adding Blatomic to your services will give you the <b>TwTheme</b>.
        This is a custom theme designed by the maker of blatomic (who is by no means a designer)
    </p>

    <CodeBlock Title="Program.cs" Code="builder.Services.AddBlatomic();"></CodeBlock>

    <p class="mt-4">
        If you would like to customize this theme simply add an action and change the default configuration however you would like.
        The example below shows how to overwrite the default <b>Danger</b> theme and makes it so only the background blue is applied in dark and light mode
    </p>


    <CodeBlock Title="Program.cs" Code="@updateTheme"></CodeBlock>

    <p class="mt-4">Themes can also be updated at runtime by simply injecting <b>ITheme</b> into your razor page and updating the theme</p>
    <CodeBlock Title="Any .razor file" Code="@themeUpdateCode"></CodeBlock>

    <p class="mt-4">Go ahead, try it</p>
    <div class="mt-2 flex space-x-4">
        <Button OnClickedAsync="UpdateTheme">Update Primary Theme</Button>
        <Button OnClickedAsync="ResetTheme">Reset Primary Theme</Button>
    </div>

    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900 mt-12">Wait.. you said extension?</h3>

    <p class="mt-2">
        Yes! The <b>ITheme</b> interface has a <b>CustomTheme</b> dictionary property where you can place any new theme you would like!
        These custom themes can also be setup in your services at startup or you can add them at runtime to allow for programmatically adding themes or letting your users add their own themes!
        Adding a new theme is simple, you just need to give it a name (here we are using "SuperButton") and then give it all of the classes that you would like to apply
    </p>

    <CodeBlock Title="Any .razor file" Code="@addToTheme"></CodeBlock>

    <p class="mt-4">After you have added the theme you can use it anywhere you have <b>ITheme</b> injected</p>
    <CodeBlock Title="Any .razor file" Code="@useTheme"></CodeBlock>


    <h3 class="text-xl font-bold mt-6 @TwColors.Text_Slate_900 mt-12">Colors, Light, and Dark mode</h3>

    <p class="mt-2">
        To make things easier we have added all of the colors in tailwind to a static <b>TwColors</b> class.
        With this class you can get all of the tailwind colors with their associated dark counter part.
        This way, you can easily use the tailwind color palette and rest assurred that your site will properly work in both light and dark mode
        Note: you may need to modify the colors a bit but it should give you a good starting point for developing a light and dark
        themed palette.
    </p>

    <CodeBlock Title="Any .razor file" Code="@darkmode"></CodeBlock>
</div>

@code {
    private async Task UpdateTheme()
    {
        await ThemeService.UpdateTheme(theme => theme.Primary = theme.Success);
    }
    private async Task ResetTheme()
    {
        await ThemeService.UpdateTheme(theme => theme.Primary = new TwTheme().Primary);
    }

    private string darkmode = @"<div class=""@TwColors.Bg_Slate_800 @TwColors.Text_Blue_200 rounded-lg p-2 mt-0.5 mb-2"">
    I will be shown properly in dark and light mode
</div>";
    private string useTheme = @"@inject ITheme Theme

<Button Palette=""@Theme.Get(""SuperButton"").All"">
    My Themed Super Button
</Button>";
    private string addToTheme = @"@inject ITheme Theme

// This is a shorthand extension method
Theme.Add(""SuperButton"", new Palette()
    {
        Text = new ColorPair(""b-text-white"", ""dark:b-text-black""),
        Background = new ColorPair(""b-bg-blue-600"", ""dark:b-bg-blue-400""), // here we are overriding the background
        Border = new ColorPair(""b-border-red-500"", ""dark:b-border-red-500""),
        Outline = new ColorPair(""b-outline-red-500"", ""dark:b-outline-red-500""),
        Ring = new ColorPair(""b-ring-red-400"", ""dark:b-ring-red-600""),
    });";

    private string updateTheme = @"builder.Services.AddBlatomic((theme) => theme.Danger = new Palette()
    {
        Text = new ColorPair(""b-text-white"", ""dark:b-text-black""),
        Background = new ColorPair(""b-bg-blue-600"", ""dark:b-bg-blue-400""), // here we are overriding the background
        Border = new ColorPair(""b-border-red-500"", ""dark:b-border-red-500""),
        Outline = new ColorPair(""b-outline-red-500"", ""dark:b-outline-red-500""),
        Ring = new ColorPair(""b-ring-red-400"", ""dark:b-ring-red-600""),
    });";
    private string themeUpdateCode => @"@inject ThemeService ThemeService
@inject ITheme Theme
@inject NavigationManager Nav

<Button OnClickedAsync=""UpdateTheme"">Update Primary Theme</Button>
<Button OnClickedAsync=""ResetTheme"">Reset Primary Theme</Button>

@code {
    private async Task UpdateTheme()
    {
        await ThemeService.UpdateTheme(theme => theme.Primary = theme.Success);
    }
    private async Task ResetTheme()
    {
        await ThemeService.UpdateTheme(theme => theme.Primary = new TwTheme().Primary);
    }
}";

}