<CascadingValue Value="this">
    <div class="flex items-start bg-gray-100 p-4">
        @for (var i = 0; i < steps.Count; i++)
        {
            var stepCount = i;
            <a class="flex-initial flex flex-col items-center cursor-pointer" @onclick="@(() => GoToStep(stepCount))">
                <div class="rounded-full h-8 w-8 p-1 text-center align-middle transition duration-500 @(i <= currentStepIndex ? "bg-green-300" : "bg-gray-200")">@(i + 1)</div>
                <div>@steps[i].Title</div>
            </a>
            @if (i < steps.Count - 1)
            {
                <div class="grow border-2 mt-3 transition duration-1000  @(i < currentStepIndex ? "border-green-300" : "border-gray-200")"></div>
            }
        }
    </div>
    <div>
        @ContentArea
        @ChildContent
    </div>
    <div class="flex @buttonJustify items-center bg-gray-100 p-4">
        @if (currentStepIndex != 0)
        {
            <div class="justify-self-start">
                <Button OnClickedAsync="PreviousStep"
                    RoundedStyle="RoundedStyle.XL"
                    Css="@ButtonColors">
                    Previous
                </Button>
            </div>
        }
        @if (currentStepIndex != steps.Count - 1)
        {
            <div class="justify-self-end">
                <Button OnClickedAsync="@(() => NextStep())"
                    RoundedStyle="RoundedStyle.XL"
                    IsDisabled="!IsStepComplete"
                    Css="@ButtonColors">
                    Next
                </Button>
            </div>
        }
    </div>
</CascadingValue>

@code {
    [Parameter] public string? ButtonColors { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string buttonJustify => currentStepIndex == 0 ? "justify-end" : "justify-between";
    private int currentStepIndex = 0;
    private List<Step> steps = new();
    private RenderFragment? ContentArea { get; set; }
    private bool IsStepComplete => steps == null || currentStepIndex >= steps.Count ? false : steps[currentStepIndex].IsStepComplete;        

    public void GoToStep(int step)
    {
        if (step < 0 || step >= steps.Count)
        {
            return;
        }
        while (currentStepIndex < step)
        {
            if(!NextStep())
            {
                break;   
            }
        }
        if (currentStepIndex > step)
        {
            currentStepIndex = step;
            RenderStep();
        }
    }

    private bool NextStep()
    {
        if (IsStepComplete)
        {
            currentStepIndex++;
            RenderStep();
            return true;
        }
        return false;
    }

    private void PreviousStep()
    {
        currentStepIndex--;
        RenderStep();
    }

    private void RenderStep()
    {
        var currentStep = steps[currentStepIndex];
        ContentArea = currentStep.ChildContent;
        StateHasChanged();
    }

    public void AddStep(Step step)
    {
        steps.Add(step);
        if (currentStepIndex == steps.Count - 1)
        {
            RenderStep();
        }
        StateHasChanged();
    }
}
