@inject ITheme Theme

<CascadingValue Value="this">
    <div class="flex flex-col">

        <div class="flex items-start justify-around p-4 max-width-full overflow-x-auto @PanelColors">
            @for (var i = 0; i < steps.Count; i++)
            {
                var stepCount = i;
                <a class="shrink-0 flex-initial flex flex-col items-center cursor-pointer relative" @onclick="@(() => GoToStep(stepCount))">
                    <div class="rounded-full z-[1] h-8 w-8 p-1 text-center align-middle transition duration-500 @(i <= currentStepIndex ? FillActiveColors : FillInactiveColors)">@(i + 1)</div>
                    <div>@steps[i].Title</div>
                    @if (i > 0)
                    {
                        <div class="absolute left-0 w-1/2 mt-3">
                            <div class="w-full h-1 pointer-events-none transition duration-1000 @(i <= currentStepIndex ? FillActiveColors : FillInactiveColors)"></div>
                        </div>
                    }
                    @if (i < steps.Count - 1)
                    {
                        <div class="absolute right-0 w-1/2 mt-3">
                            <div class="w-full h-1 pointer-events-none transition duration-1000 @(currentStepIndex > i ? FillActiveColors : FillInactiveColors)"></div>
                        </div>
                    }
                </a>
                @if (i < steps.Count - 1)
                {
                    <div class="w-full border-2 mt-3 transition duration-1000  @(i < currentStepIndex ? FillActiveColors : FillInactiveColors)"></div>
                }
            }
        </div>
        <div class="grow @ContentColors">
            @ContentArea
            @ChildContent
        </div>
        <div class="flex @buttonJustify items-center p-4 @PanelColors">
            @if (currentStepIndex != 0)
            {
                <div class="justify-self-start">
                    <Button OnClickedAsync="PreviousStep"
                        RoundedStyle="RoundedStyle.XL">
                        Previous
                    </Button>
                </div>
            }
            @if (currentStepIndex != steps.Count - 1)
            {
                <div class="justify-self-end">
                    <Button OnClickedAsync="@(() => NextStep())"
                        RoundedStyle="RoundedStyle.XL"
                        IsDisabled="!IsStepComplete">
                        Next
                    </Button>
                </div>
            }
        </div>

    </div>
</CascadingValue>

@code {
    [Parameter] public string PanelColors { get; set; } = "bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100";
    [Parameter] public string ContentColors { get; set; } = "bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100";
    [Parameter] public string FillActiveColors { get; set; } = "bg-green-400 dark:bg-green-600 border-green-400 dark:border-green-600";
    [Parameter] public string FillInactiveColors { get; set; } = "bg-gray-300 dark:bg-gray-700 border-gray-300 dark:border-gray-700";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string buttonJustify => currentStepIndex == 0 ? "justify-end" : "justify-between";
    private int currentStepIndex = 0;
    private List<Step> steps = new();
    private RenderFragment? ContentArea { get; set; }
    private bool IsStepComplete => steps == null || currentStepIndex >= steps.Count ? false : steps[currentStepIndex].IsStepComplete;

    public void GoToStep(int step)
    {
        if (step < 0 || step >= steps.Count)
        {
            return;
        }
        while (currentStepIndex < step)
        {
            if (!NextStep())
            {
                break;
            }
        }
        if (currentStepIndex > step)
        {
            currentStepIndex = step;
            RenderStep();
        }
    }

    private bool NextStep()
    {
        if (IsStepComplete)
        {
            currentStepIndex++;
            RenderStep();
            return true;
        }
        return false;
    }

    private void PreviousStep()
    {
        currentStepIndex--;
        RenderStep();
    }

    private void RenderStep()
    {
        var currentStep = steps[currentStepIndex];
        ContentArea = currentStep.ChildContent;
        StateHasChanged();
    }

    public void AddStep(Step step)
    {
        steps.Add(step);
        if (currentStepIndex == steps.Count - 1)
        {
            RenderStep();
        }
        StateHasChanged();
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}
