@inherits LayoutComponentBase
@inject Blatomic.Services.ColorScheme.ITheme Theme

<PageTitle>Blatomic Examples</PageTitle>

<div class="@darkClass">

    <div class="page @Theme.Light">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="flex justify-end items-center space-x-3 px-4 py-4 @Theme.Primary">
                <Button OnClickedAsync="(() => darkMode = !darkMode)" Color="@Theme.Light">
                    @(darkMode ? "Light" : "Dark")
                </Button>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="pt-4 px-4">
                @Body
            </article>
        </main>
    </div>
</div>


@code {
    private string darkClass => darkMode ? "dark" : string.Empty;
    private bool darkMode = false;
}
