@using System.Timers
@using Blatomic.Services.Toasts

@implements IDisposable
@inject ToastService toastService
@inject ITheme Theme

<div class="b-fixed b-z-[1000] @Position.ToastStyle() b-p-4 b-rounded b-overflow-auto">
    <div class="b-flex b-flex-col b-space-y-4">
        @foreach (var toast in toasts.GetItems())
        {
            @if (ToastTemplate != null)
            {
                <div>
                    @ToastTemplate(toast)
                </div>
            }
            else
            {
                <div tabindex="0"
                     @onclick="@(() => PauseToastTimer(toast))"
                     @onmouseover="@(() => PauseToastTimer(toast))"
                     @onmouseout="@(() => StartToastTimer(toast))"
                     class="b-transition hover:b-scale-105 b-max-w-xs sm:b-max-w-sm @Shadow.Standard(ShadowType.Medium) b-divide-y b-divide-gray-500 b-rounded b-bg-gray-200/90 dark:b-bg-gray-800/90 b-text-black dark:b-text-white">
                    <div class="b-flex b-justify-between b-items-center b-p-2">
                        <div class="b-flex b-items-center">
                            <span class="b-inline-block b-h-5 b-w-5 @toast.Toast.Palette?.Background.ToString() b-rounded b-mr-2"></span>
                            <b>@toast.Toast.Header</b>
                        </div>
                        <div class="b-ml-8">                            
                            <DismissButton OnClickAsync="() => RemoveToast(toast)" />
                        </div>
                    </div>
                    <div class="b-p-2 b-border-b-0">
                        @toast.Toast.Message
                    </div>
                    <div class="b-p-1">
                        <ProgressBar Palette="@toast.Toast.Palette" Size="Components.Progress.ProgressBarSize.Tiny" Percentage="@(toast.PercentageComplete)"></ProgressBar>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter] public CordinalPosition Position { get; set; } = CordinalPosition.BottomRight;
    [Parameter] public RenderFragment<ToastWrapper>? ToastTemplate { get; set; }

    private ThreadSafeList<ToastWrapper> toasts = new();
    private System.Timers.Timer? timer;
    public static int ToastTickRate = 100;

    public void AddToast(Toast toast)
    {
        var toastWrapper = new ToastWrapper(toast);
        toasts.Add(toastWrapper);
        toastWrapper.OnElapsed += TimedRemove;
        if (timer != null)
        {
            timer.Elapsed += toastWrapper.TimerTick;
        }
        StartRefreshing();
        StateHasChanged();
    }

    private void PauseToastTimer(ToastWrapper toastWrapper)
    {
        timer?.Stop();
    }
    private void StartToastTimer(ToastWrapper toastWrapper)
    {
        timer?.Start();
    }

    private async void ToastTick(object? sender, ElapsedEventArgs e)
    {
        await InvokeAsync(() => StateHasChanged());
    }

    private void PauseRefresher()
    {
        if (toasts.Count == 0)
        {
            timer?.Stop();
        }
    }

    private void StartRefreshing()
    {
        timer?.Start();
    }

    private void TimedRemove(object? sender, ElapsedEventArgs e)
    {
        if (sender == null)
        {
            return;
        }
        var toastWrapper = (ToastWrapper)sender;
        RemoveToast(toastWrapper);
    }

    private async void RemoveToast(ToastWrapper toastWrapper, bool refreshUI = true)
    {
        toastWrapper.OnElapsed -= TimedRemove;
        if (timer != null)
        {
            timer.Elapsed -= toastWrapper.TimerTick;
        }
        toasts.Remove(toastWrapper);
        PauseRefresher();
        if (refreshUI)
        {
            await InvokeAsync(() => StateHasChanged());
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        toastService.OnAddToast += AddToast;
        timer = new System.Timers.Timer(ToastTickRate)
            {
                AutoReset = true,
                Enabled = true
            };
        timer.Stop();
        timer.Elapsed += ToastTick;
    }

    public void Dispose()
    {
        for (var i = toasts.Count - 1; i >= 0; i--)
        {
            RemoveToast(toasts.IndexOf(i), false);
        }
        toastService.OnAddToast -= AddToast;
        if (timer != null)
        {
            timer.Elapsed -= ToastTick;
            timer.Dispose();
        }
    }
}
